body {
      font-family: Arial, sans-serif;
      background: rgba(128, 128, 128, 0.669);
      display: flex;
      justify-content: center;
       align-items: center;
      height: 100vh;
    }
    .container {
      background: white;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: center;
      width: 300px;
    }
    h1 {
      font-size: 22px;
      color: #333;
    }
    button {
      padding: 10px 15px;
      border: none;
      background: #007BFF;
      color: white;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
    }
    button:hover {
      background: #0056b3;
    }



    @media (max-width: 640px) {
  body {
    padding: 15px;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.669);
  }

  .container{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    height: 400px;
    margin-top: 1200px;
  }

  h1 {
    font-size: 80px;
    margin-top: 50px;
  }

  button {
    width: 200px;
    font-size: 70px;
    padding: 12px;
    margin-top: 30px;
  }

  #result {
    font-size: 15px;
  }
}